<div class="main">
  <h1>Melissa Alves - RA: 257417 | Mirella Rodrigues -  RA: 256424</h1>
  <input class="lg-text-input" (keydown.enter)="CREATE_tarefa(campoNovoItem)" #campoNovoItem/>
  <button class="btn-primary" (click)="CREATE_tarefa(campoNovoItem)">
    Adicionar Tarefa</button>
  <ul *ngIf="arrayDeTarefas().length > 0">
      <li *ngFor="let tarefaDoLoop of arrayDeTarefas()">
          <app-item [tarefa]="tarefaDoLoop" (removeTarefa)="REMOVE_tarefas(tarefaDoLoop)" (modificaTarefa)="UPDATE_tarefa(tarefaDoLoop)"></app-item>
      </li>
  </ul>

  <p *ngIf="arrayDeTarefas().length == 0">Nenhuma tarefa!</p>
</div>
